<table>
  <tr>Curso a modificar: 
    <td *ngIf=" idAux; else nuevo">Curso a modificar: <input type="text" [(ngModel)]="id" disabled></td>
    <td><ng-template #nuevo>Id a crear: <input type="number" [(ngModel)]="id" ></ng-template></td>
  </tr>

    <tr>
      <td>Nuevo nombre del curso</td>
      <td>Nuevo tiempo del curso</td>
      <td>Nivel</td>
  </tr>
  <tr>
      
      <td><input type="text" [(ngModel)]="nombre"></td>
      <td><input type="number" step="1" min="0" [(ngModel)]="horas"></td>
      <td><select [(ngModel)]="nivel">
        <option value="iniciacion">iniciacion</option>
        <option value="intermedio">intermedio</option>
        <option value="avanzado">avanzado</option>
      </select></td>
  </tr>
  </table>
  <input *ngIf=" idAux; else nuevo2" type="button" value="Actualizar" (click)="modificar()">
  <ng-template #nuevo2>  <input type="button" value="Añadir" (click)="crear()"></ng-template>

  <a class="button" routerLink="/">Inicio</a> |
